@charset "UTF-8";

#qna {
    display: none;
}
.qBox {
    width: 80%;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 40px;
    margin-top: 100px;
    padding: 30px 100px;
    font-size: 23px;
    margin-bottom: 50px;
    
}

.answerList {
    background-color: whitesmoke;
    border-radius: 30px;
    display: block;
    width: 80%;
    border: 0px;
    margin-top: 20px;
    padding: 20px 0;
    font-size: 18px;
}
.answerList:hover, .answerList:focus {
    background-color: darkslategray;
    color: whitesmoke;
}
.status {
    height: 20px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    margin-top: 100px;
}
.statusBar {
    height: 100%;
    border-radius: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#98d3d3+0,71c4c2+43,20b2aa+100 */
    background: #98d3d3; /* Old browsers */
    background: -moz-linear-gradient(left,  #98d3d3 0%, #71c4c2 43%, #20b2aa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #98d3d3 0%,#71c4c2 43%,#20b2aa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #98d3d3 0%,#71c4c2 43%,#20b2aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98d3d3', endColorstr='#20b2aa',GradientType=1 ); /* IE6-9 */


}