#result {
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 6px #999;
}

.ttl {
    font-size: 25px;
    color: black;
    line-height: 100px;
}
.explanation {
    width: 70%;
    font-size: 15px;
    color: black;
    line-height: 25px;
}
.kakao {
    color: white;
    background-color: #FEE500;
    font-size: 20px;
    border: 0px;
    border-radius: 15px;
}
.kakao:hover, .kakao:focus {
    background-color: whitesmoke;
    color: #FEE500;
    transition: 0.2s all ease;
}