@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 100%;
}
/* [1] 헤더 */
#header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid black;
}
/* 로고 */
.logo {
    margin: 0 auto;
    width: 200px;
    height: 75px;
}
.logo a {
    display: block;
    width: 100%;
    height: 75px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    line-height: 75px;
}
/* [2] 컨텐츠 */
#section {
    width: 100%;
    background-color: aliceblue;
}
/* [2-1] 메인배너 */
#main_bnr {
    width: 100%;
    height: 500px;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
}
/* 챗봇버튼 */
.chatbot {
    display: block;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: black;
    line-height: 50px;
    text-align: center;
    margin-top: 350px;
}
/* [2-2] 프로그램 소개 */
#program {
    width: 100%;
    height: 400px;
    background-color: lightgray;
}
/* [2-3] 히스토리 */
#history {
    width: 100%;
    height: 400px;
    background-color: lightsalmon;
}
/* [2-4] 개발자소개 */
#developer {
    width: 100%;
    height: 400px;
    background-color: lightsteelblue;
}
/* [2-5] 심리검사 */
#test {
    width: 100%;
    height: 600px;
}
.container {
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}
/* mbti검사 */
.mbtiTest {
    width: 50%;
    height: 600px;
    background-color: rgb(248, 189, 166);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.depressionTest {
    width: 50%;
    height: 600px;
    background-color: rgb(217, 234, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container h3 {
    margin-top: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    color: black;
}
.container p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: black;
}
.container a {
   display: block; 
   width: 150px;
   height: 40px;
   border: 1px solid black;
   border-radius: 20px;
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 15px;
   line-height: 40px;
   color: black;
   text-align: center;
   margin-bottom: 100px;
}
/* [3] 푸터 */
#footer {
    width: 100%;
    height: 150px;
    background-color: gray;
}